@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Noto Sans", sans-serif;
	color: #3D3D3D;

}
#login{
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}
#si-rgtcont{
	position: relative;
}
#si-img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -13%);
}




@media only screen and (max-width: 767px) {
	.hide{
		display: none;
	}
}