#footer{
    margin: 50px auto 30px;
}
.footer-cont{
    display: flex;
    width: 270px;
}
.a-center{
    display: flex;
    justify-content: center;
}
.contact{
    margin: 20px auto;
}
.copyright, .contact a{
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #3D3D3D;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .copyright, .contact a{
        font-family: Noto Sans;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.03em;
        text-align: center;

    }

}