.country{
    border: 2px solid #3E3E3E;
    margin: 7px 0;
    padding: 5px;
    box-shadow: 9px 11px 0px 0px #d7d7d7;
    height: 68px;
    max-height: 130px;
}
.parent{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.cntryname{
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    margin: 0 !important;
}
.child{
    padding: 10px;
}
.region{
    margin: 0 !important;
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .country{
        height: 120px;
    }
    .flag {
        height: 59px !important;
        width: 90px !important;
    }
    
    .cntryname{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;        
    }
    .region{
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.03em;
        text-align: left;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cntryname{
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;        
    }
}